.section1 {
  background-color: white;
  border-radius: 8px;
  padding-bottom: 3rem;
  .imgContainer {
    display: flex;
    justify-content: center;
    transform: translateY(-50%);
  }
  .content {
    h1 {
      text-align: center;
      width: 90%;
      margin: 0 auto;
    }
    p {
      text-align: center;
      width: 95%;
      margin: 0 auto;
      line-height: 1.5;
      padding-top: 1rem;
      color: $darkGray;
    }
    .btn_bookmark {
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 1rem;
      padding-top: 2rem;
      .btnContainer {
        a {
          button {
            color: white;
            padding: 1rem 2.5rem;
            border-radius: 1.5rem;
            border: none;
            background-color: $moderateCyan;
          }
        }
      }
      .bookmarkContainer {
        img {
          width: 80%;
        }
      }
    }
  }
}

.section2 {
  background-color: white;
  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 8px;
  div {
    // padding-bottom: 1rem;
    margin-top: 1rem;
    h1 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 0.7rem;
      font-weight: 500;
      margin-top: 0.5rem;
      color: $darkGray;
    }
    .bottomLine {
      border-bottom: 1px solid $darkGray;
      width: 20%;
      margin: 2rem auto;
    }
  }
  .loadingContainer {
    width: 90%;
    height: 10px;
    border-radius: 1rem;
    background-color: hsl(0, 0%, 90%);
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    .loading {
      width: 70%;
      height: 10px;
      background-color: $moderateCyan;
      border-radius: 1rem;
    }
  }
}

.section3 {
  background-color: white;
  margin-top: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 2.5rem;
  border-radius: 8px;
  h1 {
    width: 90%;
    margin: 0 auto;
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
  p {
    width: 90%;
    margin: 0 auto;
    color: $darkGray;
    line-height: 1.7;
  }
  .secondParagraph {
    padding-top: 2rem;
  }

  .subSection1 {
    border: 1.5px solid hsl(0, 0%, 90%);
    width: 90%;
    margin: 0 auto;
    border-radius: 8px;
    margin-top: 2.5rem;
    padding-bottom: 1.56rem;
    .introHeader {
      padding-bottom: 1rem;
      h1 {
        font-size: 1rem;
        padding-bottom: 0 !important;
      }
      p {
        font-size: 1rem;
        font-weight: 500;
        color: $moderateCyan;
      }
    }
    .amountLeft {
      display: flex;
      align-items: center;
      column-gap: .5rem;
      width: 90%;
      margin: 0 auto;
      padding: 1.5rem 0;
    }
    .btnContainer {
        width: 90%;
        margin: 0 auto;
      a {
        button {
          color: white;
          padding: 1rem 2.5rem;
          border-radius: 1.5rem;
          border: none;
          background-color: $moderateCyan;
        }
      }
    }
  }
}
