@media (min-width: 768px) {
    header{
        background-image: url(/crowdfunding-product-page-main/images/image-hero-desktop.jpg) !important;
        nav{
            width: 80% !important;
            padding-top: 2rem !important;
            ul{
                display: flex !important;
                column-gap: 2rem;
                li{
                    a{
                        color: rgba(255, 255, 255, 0.9);
                        text-decoration: none;
                    }
                }
            }
            .hamburgerMenu{
                display: none;
            }
        }
    }

    main{
        max-width: 50% !important;
        transform: translateY(-4.5%) !important;
    }
}